#home {
    // background-image: url("../img/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    main {
        backdrop-filter: blur(3px);
        #card {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            width: 100%;
            #avatar {
                height: 150px;
                width: 150px;
                margin: 30px 30px 10px 30px;
                border-radius: 50%;
                border: 1px solid gray;
            }
            #title {
                background-color: #ffffff; //js
                color: #ffffff;
                padding: 5px 20px;
                border-radius: 8px;
                margin-bottom: 30px;
                font-size: 22px;
            }
            #links {
                #link_list {
                    a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .link_iten {
                            background-color: #ffffff; //js
                            color: white;
                            width: 330px;
                            padding: 5px 5px;
                            border-radius: 8px;
                            margin: 5px;
                            transition: all 0.16s ease-in-out;
                            text-align: center;
                            font-weight: bold;
                            &:hover {
                                background-color: #ffffff;  //js
                                transform: scale(1.05);
                                padding: 5px 10px;
                                color: rgb(218, 218, 218);
                            }
                        }
                    }
                }
            }
        }
    }
}
