#home {
    background-image: url("../img/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    main {
        backdrop-filter: blur(4px);
        #card {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            width: 100%;
            #avatar {
                height: 150px;
                width: 150px;
                margin: 30px 30px 10px 30px;
            }
            #title {
                background-color: rgba(0, 0, 0, 0.486);
                color: white;
                padding: 5px 20px;
                border-radius: 8px;
                margin-bottom: 30px;
                font-size: 22px;
            }
            #links {
                width: 100vw;
                /*  */
                #link_list {
                    a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .link {
                            background-color: rgba(0, 0, 0, 0.837);
                            color: white;
                            width: 330px;
                            padding: 5px 5px;
                            border-radius: 8px;
                            margin: 5px;
                            transition: all 0.1s ease-in-out;
                            text-align: center;
                            &:hover {
                                background-color: rgba(0, 0, 0, 0.932);
                                transform: scale(1.06);
                                padding: 5px 15px;
                                // font-weight: 300;
                            }
                            /* .icon {
                                //
                            } */
                        }
                    }
                }
            }
        }
    }
}
